*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul,li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    
}
body{
    background-color:#010032;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.list1{
    display: flex;
    align-items: center;
}
.item{
    margin: 0 20px;
    font-size: 15px;
    line-height: 19px;
}
.link{
    color:#FFFFFF;
}
.list2{
    display: flex;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

}