*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul,li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
    
}
body{
    background-color: #E5E5E5;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.img{
    margin-top: 50px;
}

.list1{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.item{
    margin: 0 20px;
    font-size: 15px;
    line-height: 19px;
}
.link{
    color:#FFFFFF;
}
.list2{
    display: flex;
    margin-top: 50px;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header{
    background-color:#010032;
}
main .container{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.text{
    color: #FFFFFF;
}
.impact_h2{
    font-size: 70px;
    line-height: 70px;
    margin: 20px;
}
.impact_p{
    font-size: 22px;
    line-height: 34px;
    margin: 20px;
}
.boxs1{
    border: 1px solid#FFFFFF;
    background-color: #FFFFFF;
    border-radius: 32px;
    margin: 20px;
    width: 200px;
    height: 50px;
    padding: 10px 50px;
    
}
.text , .photo{
    width: 45%;
}
.photos{
    width: 648px;
    height: 770px;
}
.boxs1{
    display: flex;
    align-items: center;

}
.fa-regular{
    color: black;
    margin-left: 10px;
}
.boxs2{
    display: flex;
    align-items: center;
    margin-top: 150px;

}
.fa-cart-shopping{
    border: 1px solid black;
    background-color: #D8D8EB33;
    border-radius: 50px;
    padding: 20px;
    margin:0 10px;
}
.annual{
    color:#FFFFFF99;
    font-size: 15px;
    line-height: 22px;
}
.independent{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
}
.section2{
    background-color: #E5E5E5;
}
.section2 .container{
    display:flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about1 , .about2{
    width: 45%;
}
.about_a{
    color: #4543E8;
    margin-left: 10px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
}
.iconka{
    margin-left: 10px;
}
.steve{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.steve_p{
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    margin-left: 20px;
}
.steve_a{
    color: #000000;
    font-size: 15px;
    line-height: 24px;
    margin-left: 20px;
}
.alex{
    margin-left: 10px;
    color: #000000;
    font-size: 19px;
    line-height: 28px;
    margin: 20px;
}
.section2_photo{
    margin-left: 10px;
}
.img_sparcle{
    margin-left: 10px;
    margin-top: 100px;
}
.years{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.years_h3{
    color: #4543E8;
    font-size: 60px;
    line-height: 66px;
    margin: 0 20px;
}
.years_p{
    color: #000000;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 20px;
}
.logo{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.ipmus{
    display: flex;
    align-items: center;
    margin: 0 20px;

}
.logo_p{
    color: #010032;
    margin-left: 5px;
  
}
.digital_h2{
    margin-left: 20px;
    color: #000000;
    font-size: 48px;
    line-height: 53px;
    font-family: 'Epilogue';
    font-style: normal;
    
}
.section3_photo{
    display: flex;
    margin-top: 50px;
}
.work_photo1, .work_photo2{
    width: 47%;
}
.work_img1{
    width: 510px;
    height: 500px;
}
.tolqin{
    width: 50px;
    margin-left: -10px;
}
.work_a{
    margin-left: 20px;
}
.work{
    display: flex;
    align-items: center;
    margin: 30px;
}
.work_img2{
    width: 620px;
    height: 660px;
}
.work_h3{
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 30px;
}
.work_p{
    color: #000000;
    font-size: 12px;
    line-height: 27px;
    margin-top: 30px;
}
.work_img3{
    width: 740px;
    height: 555px;
}
.section3_photo2{
    margin-left:300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.arrow1{
    display: flex;
    align-items: center;
}
.arrow2{
    display: flex;
    align-items: center;
}
.arrow3{
    display: flex;
    align-items: center;
}
.work_arrow1{
    width: 28px;
    margin-bottom: -20px;
    margin-left: 250px;
}
.work_arrow2{
    width: 28px;
    margin-bottom: -20px;
    margin-left: 240px;
}
.work_arrow3{
    width: 28px;
    margin-bottom: -20px;
    margin-left: 490px;
}
.section4 .container{
    display: flex;
}
.section4_photo2{
    margin-left: 50px;
}
.otsuka_img1{
    width: 620px;
    height: 660px;
}
.otsuka_img2{
    width: 512px;
    height: 500px;
}
.otsuka_h3{
    font-size: 24px;
    color: #000000;
    line-height: 29px;
    margin: 40px 0;
}
.otsuka1{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}
.img1{
    margin-left: 330px;
}
.img2{
    margin-left: 250px;
}
.otsuka2{
    display: flex;
    align-items: center;
}
.otsuka_p1{
    color: #000000;
    font-size: 12px;
    line-height: 27px;
    margin: 20px 0;
}
.view{
    margin-top: 800px;
    margin-left: -512px;
    margin-bottom: 50px;
    border: 1px solid #4543E8;
    padding: 40px 40px;
    background-color: #4543E8;
}
.view_p{
    color: #FFFFFF;
}
.section5{
    background-color: #010032;
}
.pushing{
    display: flex;
    margin-top: 30px;
}
.services{
    color: #FFFFFF;
    font-size: 48px;
    line-height: 53px;
    margin-top: 30px;
}
.brading{
    margin-top: 30px;
    margin-left: 50px;
}
.brading_h3{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    margin-top: 30px;
}
.brading_p{
    color: #FFFFFF;
    font-size: 18px;
    margin: 30px 0;
    line-height: 27px;
    width: 80%;
}
.packaging{
    margin-left: 50px;
    margin-top: 30px;
}
.packaging_h3{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    margin-top: 30px;
}
.packaging_p{
    color: #FFFFFF;
    font-size: 18px;
    margin: 30px 0;
    line-height: 27px;
    width: 80%;
}
.services_a{
    color: #FFFFFF;
    margin-left: 15px;
    font-size: 18px;
    line-height: 21px;
}
.visual{
    display: flex;
    padding-bottom: 100px;
}
.visual_h3{
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29px;
    margin: 30px 0;
}
.visual_p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 27px;
    margin: 30px 0;
    width: 70%;
}
.visual_box2{
    margin-left: -40px;
}
.visual_box3{
    margin-top: 70px;
}
.visual_a{
    margin-bottom: 80px;
    border: 1px solid white;
    background-color: #FFFFFF;
    padding: 20px 50px;
    border-radius: 20px;
    color: #000000;
    
}
.section6{
    background-color: #D8D8EB;
}
.alex_box{
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.alex_box2{
    display: flex;
    align-items: center;
}
.alex_box1{
    border: 1px solid #FFFFFF;
    padding: 20px;
    width: 576px;
    height: 360px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;


}
.alex_box3{
    margin-left: 150px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    width: 576px;
    height: 360px;
    margin-bottom: 50px;

}
.alex_img1{
    margin:0  5px ;
}
.alex_img{
    margin-left: -5px;
    margin: 20px 0;
}
.alex_h3{
    color: #000000;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
}
.alex_p{
    color: #000000;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
}
.alex_b{
    color: #000000;
     
}
.alex_boxs1{
    text-align: center;
    padding-top: 50px;
}
.clients_h2{
    margin: 20px 0;
}
.clients_a{
    margin: 0 10px;
    font-size: 16px;
    line-height: 24px;
}
.alex_icon{
    text-align: center;
    padding-bottom: 50px;
}
.fa-arrow-left{
    color: #4543E8;
    margin:0 20px ;
    transition: 1s;
}
.fa-arrow-right{
    color: #4543E8;
    transition: 1s;
}
.fa-arrow-left:hover{
    transform:translateX(-5px);
}
.fa-arrow-right:hover{
    transform:translateX(5px);
}
.section7{
    background-color:#FFFFFF;
    padding: 50px 0;
}
.getting_box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.getting_box2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.listing{
    display: flex;
    align-items: center;
}
.getting_h2{
    color: #000000;
    font-size: 60px;
    line-height: 63px;
    letter-spacing: 1.2px;
    margin-top: 20px;
    width: 70%;
}
.getting_p{
    color: #000000;
    font-size: 22px;
    line-height: 34px;
    width: 40%;
}
.getting_a{
    color: #4543E8;
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
}
.listing_h2{
    color: #4543E8;
    font-size: 48px;
    line-height: 53px;
    margin: 20px 0;
}
.listing_img{
    margin-left: 150px;
}
.listing_h3{
    color: #000000;
    font-size: 24px;
    line-height: 29px;
    margin: 10px 0;
}
.listing_p{
    color: #000000;
    font-size: 12px;
    line-height: 27px;
}
.listing_p3{
    color: #000000;
    font-size: 18px;
    line-height: 27px;
    
}
.listing_box2{
    margin-left: 80px;
}
.listing_box3{
    margin-left: 80px;
}
.section8{
    background-color: #FFFFFF;
    padding: 50px 0;
}
.shop_h2{
    text-align: center;
    font-size: 53px;
}
.frozen_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.frozen_img{
    width: 350px;
    height: 350px;
    transition: 1s;
}
.frozen_img:hover{
    opacity: 20%;
    transform: scale(0.5);
}
.frozen_p{
    color: #010032;
    font-size: 24px;
    line-height: 29px;
    margin: 20px 0;
}
.frozen_b{
    color: #010032;
    font-size: 18px;
    line-height: 27px;
}
.shop_box{
    text-align: center;
    padding: 20px 0;
}
.shop_img{
    transition: 1s;
}
.shop_img:hover{
    transform: scale(2); 
}
.frozen_icon{
    text-align: center;
    padding-bottom: 10px;
    width: 180px;
    margin: 100px auto;
    border-bottom: 1px solid #4543E8;
}
.frozen_a{
    margin-right: 20px;
}
.section9{
    background-color: #FFFFFF;
}
.blog_box2{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.blog_img{
    transition: 2s;
}
.blog_img:hover{
    opacity: 70%;
    transform: translate(10px);
    transform: scale(0.8);
}
.blog_a{
    font-size: 18px;
    line-height: 21px;
    transition: 1s;
    margin-bottom: 20px ;
}
.blog_h3{
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 20px;
}
.blog_p{
    width: 70%;
}
.post_a{
    margin-right: 10px;
}
.post{
    border-bottom: 1px solid #423fd0;
    margin-bottom: 257px;
    cursor: pointer;
}
.fa-arrow-right{
    margin-left: -10px;
    opacity: 10%;
    transition: 1s;
}
.fa-arrow-left{
    margin-left: 10px;
    opacity: 10%;
    transition: 1s;
}
.fa-arrow-right:hover{
    opacity: 100%;
    transform: scaleX(1);
    margin-left: 20px;
}
.fa-arrow-left:hover{
    opacity: 100%;
    transform: scaleX(1);
    margin-left: -20px;
}
.blog_box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blogg{
    display: flex;
    align-items: center;
}
.blog-a{
    margin-left: 10px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.blog_h2{
    font-size: 36px;
    line-height: 50px;
    width: 60%;
    margin: 20px 0;
}
.blog_icon{
    border-radius: 5px;
}
.blog_a{
    text-align: center;
    margin-right: 10px;
    margin-bottom: -10px;
    color: #FFFFFF;
}
.blog_button{
    padding: 10px 20px;
    background-color: #423fd0;
    border-radius: 50px;
    transition: 2s;
}
.blog_button:hover{
    opacity: 20%;
}
.blog_text{
    width: 40%;
}
.bolog_a1{
    cursor: pointer;
}
.blog_h3{
    margin-top: 20px;
}
.section10{
    background-color: #423fd0;
    background-image: url(../img/IMAGE\ \(26\).png);
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 100px 0;
    
}
.work_about{
    display: flex;
    align-items: center;
}

.work1_p{
    text-align: center;
    margin: 50px 0;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
}
.work1_h2{
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.work1_box1 .fa-arrow-right{
    color:white;
    opacity: 100%;
}
.work1_box1{
    margin-left: 80px;
    border-bottom: 1 px solid white;
    border-bottom: 1px solid white;
    width: 120px;
}
.work1_a{
    opacity: 100%;
    border: none;
    color:white;
    margin-right: 20px;
}
.about{
    margin-left: 550px;
}
.about_h2{
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}
.about_p{
    text-align: center;
    margin: 50px 0;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
}
.about_box{
    border-bottom: 1 px solid white;
    width: 200px;
    margin-left: 50px;
}
.about_box .fa-arrow-right{
    color:white;
    opacity: 100%;
}
.about_a{
    opacity: 100%;
    border: none;
    color:white;
    margin-right: 20px;
}
footer{
    background-color: #010032;
}
hr{
    color: white;
}
.footer_photo{
    display: flex;
    align-items:center;
    margin-bottom: 50px;
}
.footer_title{
    display: flex;
    align-items: center;
    margin: 50px 0;
}
.footer_list{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.footer1_h2{
    color: #FFFFFF;
    font-size: 50px;
    line-height: 66px;
    margin-left: -200px;
    
}
.footer2_h2{
    color: #FFFFFF;
    font-size: 50px;
    line-height: 66px;
    margin-left: 60px;
    
}
.footer3_h2{
    color: #FFFFFF;
    font-size: 50px;
    line-height: 66px;
    margin-right: -200px;
    margin-left: 80px;
    
}
.item_a{
    color: #FFFFFF;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.6s;
}
.item_a:hover{
    color: rgb(204, 133, 133);
}
.footer_a{
    margin-top: 15px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.6s;
}
.footer_a:hover{
    color: rgb(204, 133, 133);
}
.footer_p{
    color: #FFFFFF;
    margin-top: 15px;
}
.footer_text .footer_button1{
    margin-top: 30px;
    width: 200px;
    height: 30px;
    background-color: #10102f;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #010032;
    transition: 1s;
}
.footer_text .footer_button1:hover{
    transform: scaleY(0.9);
}
.footer_text .footer_button2:hover{
    transform: scaleY(0.9);
}
.footer_text .footer_button2{
    background-color: #423fd0;
    margin-left: 30px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #010032;
    transition: 1s;
}
.contact_img{
    margin-right: 20px;
    margin-top: 20px;
}
.footer_contact{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}
.footer_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}








